@import url("https://use.typekit.net/mfp0eer.css");
/*  Cooper Std Black Italic
font-family: cooper-black-std, serif;
font-style: normal; || font-style: italic;*/

/* ####################################################################################################### */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.fakeHeader{
  height: 100px;
  width: 100vw;
  display: block;
  background-color: #e6e6e6;
  position: sticky;
  top: 0;
  z-index: 800;
  display: none;
}

.cardTitle {
  margin: 0;
  line-height: 1.75;
  font-size: 24pt;
  font-family: cooper-black-std;
  color: #0a0a0a;
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
  width: 90vw;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 10px;
  /* box-shadow: 0px 0px 15px #999999; */
  min-width: 250px;
  transition-property: transform;
  transition-duration: .3s;
  box-shadow: 0px 0px 20px 0px rgba(10, 10, 10, .25);
}

.card:hover,
.card:focus,
.card:active {
  transform: scale(1.1);
  cursor: pointer;
}

.fullCard{
  display: flex;
  flex-direction: column;
}

.image {
  min-width: 100px;
  max-width: 250px;
  min-height: 100px;
  max-height: 250px;
  position: relative;
  border-radius: 10px;
}

.mainBtn, .socialBtn, .socialBtnLR{
  cursor: pointer;
  background: #B842A0;
  font-family: cooper-black-std, serif;
  font-size: 22px;
  padding: 5px 20px;
  border-radius: 100px;
  border: none;
  margin-top: 20px;
}

.socialBtn, .socialBtnLR{
  margin-left: 40px;
}

.socialBtnLR{
  background: #33A3A3;
}

.modal{
  width: 60vw;
  height: 35vw;
  background: #0a0a0a;
  /* margin-bottom: calc(-30px - 60vh); */
  z-index: 1000;
  visibility: hidden;
  display: flex;
  flex-wrap: nowrap;
  border-radius: 20px;
  position: fixed;
  top: 180px;
  opacity: 1;
  box-shadow: 0px 0px 40px 0px rgba(10, 10, 10, .5);
}

.modal > div{
}

.screenCover{
  width: 100vw;
  height: 100vh;
  background: #f5f5f5;
  opacity: 0.5;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  visibility: hidden;
}

.closeBtn{
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.imgCase{
  width: 35vw;
}

.modalImg{
  width: 35vw;
  border-radius: 20px;
}

.socialImg{
  width: 40px;
}

.textCase{
  max-width: 25vw;
  font-family: cooper-black-std;
  font-size: 24px;
  text-align: left;
}

.textCase ul{
  list-style-type: none;
}

.name{
  font-size: 40px !important;
  margin-bottom: 40px;
}

.textProp{
  background: #333;
  border-radius: 5px;
  padding: 5px 10px;
  line-height: 60px;
}

@media (max-width: 600px) {
}

@media (prefers-color-scheme: dark) {
}